<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Springboot</title>

    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <br>
    <h2 th:if="${list.isEmpty()}">No hay personas en la Base de Datos</h2>
    <div th:if="${!list.isEmpty()}">
        <h2>CRUD de Personas</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Profesión</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="persona : ${list}">
                <td th:text="${persona.getDNI()}"></td>
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.apellido}"></td>
                <td th:text="${persona.fechaNac}"></td>
                <td th:text="${persona.profesion}"></td>
                <td><a class="btn btn-info" th:href="@{/save/{id}(id=${persona.id})}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${persona.id})}">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <a href="/add" class="btn btn-primary">Agregar</a>
    </div>
</div>
</body>
</html>
